.navbar {
    background: #85441C;
    min-height: 70px;
    font-size: 18px;
    padding: 20px;
    padding-left: 10px;
    width: 100%;
    color: #fff;
    z-index: 99;
    white-space: nowrap;
    border-bottom: medium solid white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .navbar div {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .navbar div:first-child {
    letter-spacing: 1px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  /* for | between Score and High Score*/
  .pipe {
    margin: 0 10px;
  }
  
  .correct {
    animation: correctGuess 0.75s;
  }
  .incorrect {
    animation: incorrectGuess 0.75s;
  }
  
  @keyframes incorrectGuess {
    0% {
      color: white;
    }
    25% {
      color: orange;
    }
    75% {
      color:  orange;
    }
    100% {
      color: white;
    }
  }
  
  @keyframes correctGuess {
    0% {
      color: white;
    }
    25% {
      color: yellow;
    }
    75% {
      color: yellow;
    }
    100% {
      color: white;
    }
  }
  
  @media (min-width: 576px) {
    .navbar {
      display: flex;
      position: fixed;
      justify-content: space-around;
      font-size: calc(10px + 14 * (100vw - 320px) / 800);
    }
  
    .navbar div {
      margin-bottom: 0;
      text-align: center;
      width: 33.333%;
    }
  }