.banner {
    background-image: url('../../images/bookswallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 300px;
  }
  
  .m-0 {
    background-color: rgba(192, 173, 173, 0.877);
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 2em;
    color:  #85441C;
  }

  @media (max-width: 768px) {
    .banner {
      font-size: 1em;
      height: 120px;
      visibility: hidden;
    }
    .m-0 {
      visibility: hidden;
    }

  }